/* About me */
.about-me{
    height: 100vh; 
    background:#1b221c ;
}

.img-about{
    position: absolute;
    right: 60px;
    margin: 100px;
}

.content-about{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left:200px ;
}

button {
  border: none;
  background-color: #3a5843;
  color: #eff8d1;
  font-family: 'Slakey', cursive !important;
  font-size: 17px;
  margin-top: 20px;
  font-weight: 500;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transform: translate(1) translate(0, 0);
  transition: transform 225ms, box-shadow 225ms;
}

button:hover {
  transform: scale(1.05) translate(0, -0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(128, 128, 128, 0.521);
}

button:active {
  transform: scale(1) translate(0, 0.15rem);
  box-shadow: 0 0.5rem 1rem rgba(230, 230, 230, 0.932);
}

/* Skills */
.skills{
    height: 100vh;
    justify-content: center;
    display: flex;
    background-color: #eff8d1;
}
.skill{
    justify-content: center;
    display: block;
    text-align: center;
}
.title-skill{
    font-size: 40px;
}

.h2-skill{
  font-family: 'Slakey', cursive;
  color: #3a5843;
  font-size:25px;
}
.content-card{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
}
.card-skill{
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 36px;
    background: #3a5843;
    margin: 10px;
    padding: 10px;
}
.card-skill:hover{
  -webkit-box-shadow: 7px 5px 12px -1px rgba(130, 130, 130, 1);
-moz-box-shadow: 7px 5px 12px -1px rgba(130, 130, 130, 1);
box-shadow: 7px 5px 12px -1px rgba(130, 130, 130, 1);
}
.img-skill{
    width: 40px;
    height: 40px;

}
.name-skill{
  color: #f6fed8;
    display: flex;
    text-align:center;
    align-items: center;
}
/* Porject */
.project{
  height: 100vh;
  background-color: #1b221c;
}
/* MEDIA */
@media (max-width:952px){
    .content-about{
      margin-left: 0;
    }
    .img-about{
        display: none;
    }
    .text,p{
      font-size: 13px
  }
  button{
    width: 250px;
  }
  .skill{
    width: 100%;
  }

  .buttonDownload{
    width: 250px;
  }
  .card-skill{
    width:130px;
    padding: 5px;
  }
  .title-skill{
    font-size: 32px;
  }
  .h2-skill{
    font-size: 17px;
  }
  .img-skill{
    width: 20px;
    height: 20px;
  }
  .content-card{
    width: 100%;
  }
  .content-about{
    width: 100%;
  }
  .h2-skill{
    margin: 0 !important;
  }
}