footer{
    background-color: #eff8d1 ;
}
#contact{
    max-width: 720px;
    display: grid;
    margin: auto;
    /* border-radius: .25rem; */
    padding: 40px;
    color: #f6fed8;
    background-color: #3a5843;
    font-weight: bold;
}
#contact label{
    margin-top: .5rem;
    overflow: hidden;
    font-size: 13px;
    font-family: 'Slakey', cursive;
}
#contact :is(
    input, 
    textarea, 
    select){
        outline: none;
        border: 1.5px solid #333;
        padding: .25rem 1rem;
        font-size: 1rem;
    }
#contact textarea{
    resize: vertical;
    min-height: 5rem;
}
#contact button{
    margin: 20px 0 0 auto;
    text-transform: uppercase;
    width: 30%;
    border: 1px solid #3a5843;
    color: #f6fed8;
    font-family: 'Slakey', cursive;
}
.title-contact{
    font-weight: 600;
}
/* Validation */
#contact :not(button):valid{
    border-color: #284;
}
#contact :valid + .validation{
    color: #284;
}

.social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: .5rem;
    background-color: #3a5843;
}
.social a{
    position: relative;
    width: 70px;
    height: 70px;
    margin: 13px;
    border-radius: .25rem;
    background-color: #f6fed8;
    background-position: center;
       background-size: 35px;
    background-repeat: no-repeat;
    filter: grayscale(90%) opacity(.8);
}
.social a:hover{
    bottom: .25rem;
    background-size: 3rem;
    filter: drop-shadow(0 .5rem .5rem #333);
}

.linkedin{
    background-image: url(../icon/linkedinn.svg);
}
.whatsapp{
    background-image: url(../icon/whatsapp.svg);
}
/*MEDIA */
@media (max-width:426px){
    #contact{
        padding: 20px;
    }
    .social a{
        height: 60px;
        width: 60px;
    }
    .social{
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }
}