/* Regla Universal */
*{
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Slackey&display=swap');
body,
h1,
h2,
h3,
h4,
p,header{
    margin: 0;
}
p{
    color: #f6fed8;
    font-family: 'Slakey', cursive;
}

.title-about,
.title-contact,
.title-project,
.title-social{
    font-family: 'Galindo', cursive;
    color: #eff8d1;
}
.title-header,
.title-skill{
    color: #3a5843;
    font-family: 'Galindo', cursive;
}