*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: #f6fed8;
}
nav{
    background:#3a5843;
    height: 80px;
    width: 100%;
}
label.logo{
    color: #fefefe;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight:  bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #fefefe;
    font-size: 17px;
    padding: 7px 15px;
    border-radius: 10px;
    text-transform: uppercase;
}
a:hover{
    border: 1px solid #f6fed8;
}
header{
    height: 100vh;
}
.check-btn{
    font-size: 30px;
    color: #f6fed8;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 560px;
}
.title{
    font-size: 70px;
}
.p-header{
    font-size: 20px;
}
.project{
    height: 100vh;
    background-color: #1b221c;
}
/* About me */
.about-me{
    height: 100vh;
    background:#1b221c ;
}
.h2-about{
    color: #f6fed8;
    font-size: 40px;
    margin-top: 180px;
}
.img-about{
    /* height: 450px;
    width: 750px; */
    position: absolute;
    right: 60px;
    margin: 100px;
}
.txt-about{
    color: #fefefe;
}
.content-about{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left:200px ;
}

.buttonDownload {
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    background-color: #3f6d4d;
    color: #f6fed8;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
    text-indent: 15px;
    border: none;
    border-radius: 2em;
    font-weight: bold;
    margin-top: 25px;
  }
  
  .buttonDownload:hover {
    background-color: #1a60a2;
    color: white;
  }
  
  .buttonDownload:before, .buttonDownload:after {
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
  }
  
  .buttonDownload:before {
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px;
  }
  
  .buttonDownload:after {
    width: 0;
    height: 0;
    margin-left: 3px;
    margin-top: -7px;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1s linear infinite;
    animation-play-state: paused;
  }
  
  .buttonDownload:hover:before {
    border-color: #bdd3ef;
  }
  
  .buttonDownload:hover:after {
    border-top-color: #eff1f7;
    animation-play-state: running;
  }
  
  @keyframes downloadArrow {
    0% {
      margin-top: -7px;
      opacity: 1;
    }
  
    0.001% {
      margin-top: -15px;
      opacity: 0.4;
    }
  
    50% {
      opacity: 1;
    }
  
    100% {
      margin-top: 0;
      opacity: 0.4;
    }
  }
/* Skills */
.skills{
    height: 100vh;
    width: auto;
    justify-content: center;
    display: flex;
}
.skill{
    justify-content: center;
    display: block;
    width: 700px;
    text-align: center;
    /* border: 1px solid greenyellow;  */
}
.content-card{
    display: flex;
    /* border: 1px solid yellow; */
    flex-wrap: wrap;
    width: 900px;
}
.card-skill{
    /* border: 1px solid red;  */
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 36px;
    background: #3a5843;
    margin: 10px;
    padding: 10px;
    /* box-shadow:  -10px -10px 21px #273b2d,10px 10px 21px #4d7559; 
    width: 250px;
    height: 90px;
    margin: 4px; */
}
.img-skill{
    /* border: 1px solid blueviolet; */
    width: 60px;
    height: 60px;

}
.title-skill{
    display: flex;
    text-align:center;
    align-items: center;
    margin-left: 5px;
}
    /* border-radius: 36px;
    background: #3a5843;
    box-shadow:  -10px -10px 21px #273b2d,10px 10px 21px #4d7559;
    width: 250px;
    margin-top: 100px; */

/* Media  */
@media (max-width:952px) {
    label.logo{
        font-size: 25px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width:858px) {
    .check-btn{
        display: block;
    }
    nav{
        position: fixed;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #1b221c;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover{
        background-color: none;
        border:1px solid #fefefe ;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .title{
        font-size: 35px;
    }
    .img-about{
        display: none;
    }
}