*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    background: #f6fed8;
}
nav{
    background: #3a5843;
}
header{
    height: 100vh;
}
.navbar-toggler{
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.nav-link{
    cursor: pointer;
    color: #eff8d1 !important;
}
.navbar-brand{
    color: #eff8d1 !important;
}
#navbarNav{
    flex-grow: 0;
}
@media (width:320px){
.navbar-toggler{
    width: 50%;
}
}